/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Container holding the image and the text */
.overlay-container {
    position: relative;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 8px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*.jumbotron {
    background: #000 url(home-bg.jpg) top center repeat-x;
    background-size: 920px;
    color: #fff;
    min-height: 350px;
}

@media (min-width: 920px) {
    .jumbotron {
        background-size: 100%;
    }
}

@media (min-width: 1440px) {
    .jumbotron {
        background-size: 1440px;
    }
}*/

.youtube-show > a > div {
    background: #000;
}

.youtube-show > a:hover img {
    opacity: 0.6;
}

.liveshow-embed {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    -moz-box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .4);
    background: #212121;
}

.liveshow-embed * {
    background: #212121;
}

.liveshow-embed img {
    cursor: pointer;
}

.liveshow-embed img:hover {
    opacity: .6;
}

.bottom-buffer {
    margin-bottom: 30px;
}

.fa-twitch {
    color: #6441a4;
}

.fa-youtube {
    color: #f00;
}

.fa-twitch:hover, .fa-youtube:hover {
    color: darkslategray;
}