<div class="header header-primary header-sticky">
    <div>  
        <div data-m="{&quot;cN&quot;:&quot;headerArea&quot;,&quot;cT&quot;:&quot;Area_coreuiArea&quot;,&quot;id&quot;:&quot;a1Body&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;Body&quot;}" class="uhf" id="headerArea">
            <div data-m="{&quot;cN&quot;:&quot;headerRegion&quot;,&quot;cT&quot;:&quot;Region_coreui-region&quot;,&quot;id&quot;:&quot;r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;a1&quot;}" data-region-key="headerregion" id="headerRegion">

                <div data-module-id="Category|headerRegion|coreui-region|headerUniversalHeader|coreui-universalheader" data-m="{&quot;cN&quot;:&quot;headerUniversalHeader&quot;,&quot;cT&quot;:&quot;Module_coreui-universalheader&quot;,&quot;id&quot;:&quot;m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;r1a1&quot;}" id="headerUniversalHeader">


                    <div data-m="{&quot;cN&quot;:&quot;epb_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;m1r1a1&quot;}" class="x-hidden x-hidden-vp-mobile-st uhfc-universal-context context-uhf" id="epb">

                        <div data-pb="{&quot;EnableOnChrome&quot;:true,&quot;EnableOnFireFox&quot;:true,&quot;CookieExpiry&quot;:30,&quot;ExtensionURlForChrome&quot;:&quot;https://browserdefaults.microsoft.com/BNP/redirect?br=gc&amp;xid=3&amp;channel=uhf&quot;,&quot;ExtensionURlForFirefox&quot;:&quot;https://browserdefaults.microsoft.com/BNP/redirect?br=mf&amp;xid=2&amp;channel=uhf&quot;}" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1m1r1a1&quot;}" aria-label="banner" role="dialog" class="c-uhfh-alert f-information epb-container theme-light">
                            <div>
                                <p class="c-paragraph">
                                    <img class="f-img-lzy" src="" data-src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE3zcX5?ver=0d48" alt="Get the Bing + MSN extension">

                                    <span class="c-text-group">
                                        <span class="epb-launch">Breaking news from around the world</span>
                                        <span class="epb-text">Get the Bing + MSN extension</span>
                                    </span>
                                </p>
                                <span class="c-group">
                                    <button aria-label="No thanks" data-m="{&quot;cN&quot;:&quot;PB-dismiss_nonnav&quot;,&quot;id&quot;:&quot;nn1c1c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1c1m1r1a1&quot;}" class="c-action-trigger c-action-cancel glyph-cancel" id="close-epb">No thanks</button>
                                    <a data-m="{&quot;cN&quot;:&quot;PB-launch_nav&quot;,&quot;id&quot;:&quot;n2c1c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c1c1m1r1a1&quot;}" class="epb-launch c-action-trigger c-action-open" href="" aria-label="Add it now" id="epbTryNow">Add it now</a>
                                </span>
                            </div>
                        </div>



                    </div>

                    <div data-m="{&quot;cN&quot;:&quot;cookiebanner_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c1m1r1a1&quot;}">

                        <div id="uhfCookieAlert">
                            <div aria-labelledby="msccMessage" role="alert" class="cc-banner" data-sver="0.1.2" data-nver="aspnet-3.1.3" data-mscc-version="0.4.1" data-site-name="Microsoft.OneRenderFramework.Core" dir="ltr" id="msccBanner"><div class="cc-container"><svg stroke="currentColor" fill="none" height="30px" viewBox="0 0 44 44" y="0px" x="0px" class="cc-icon cc-v-center"><circle stroke-width="2" r="20" cy="22" cx="22"></circle><line stroke-width="3" y2="33" y1="18" x2="22" x1="22"></line><line stroke-width="3" y2="15" y1="12" x2="22" x1="22"></line></svg> <span tabindex="0" class="cc-v-center cc-text" id="msccMessage">This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to this use.</span> <a data-mscc-ic="false" class="cc-link cc-v-center cc-float-right" id="msccLearnMore" aria-label="Learn more about Microsoft's Cookie Policy" href="https://go.microsoft.com/fwlink/?linkid=845480">Learn more</a></div></div>
                        </div>


                    </div>



                    <a data-m="{&quot;cN&quot;:&quot;Skip to content_nonnav&quot;,&quot;id&quot;:&quot;nn3c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c1m1r1a1&quot;}" style="z-index:3000002" tabindex="0" href="#mainContent" class="m-skip-to-main" id="uhfSkipToMain">Skip to main content</a>


                    <header data-magict="true" data-header-footprint="/MSNet/DotnetHeader, fromService: True" class="c-uhfh context-uhf c-sgl-stck c-category-header">
                        <div data-m="{&quot;cN&quot;:&quot;Universal Header_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c1m1r1a1&quot;}" class="theme-light js-global-head f-closed  global-head-cont">
                            <div class="c-uhfh-gcontainer-st">
                                <button data-m="{&quot;cN&quot;:&quot;Mobile menu button_nonnav&quot;,&quot;id&quot;:&quot;nn1c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-expanded="false" aria-label="All Microsoft expand to see list of Microsoft products and services" class="c-action-trigger c-glyph glyph-global-nav-button" type="button"></button>
                                <button data-m="{&quot;cN&quot;:&quot;Close Search_nonnav&quot;,&quot;id&quot;:&quot;nn2c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-expanded="false" class="c-action-trigger c-glyph glyph-arrow-htmllegacy" type="button"></button>
                                <a data-m="{&quot;cN&quot;:&quot;GlobalNav_Logo_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-label="Microsoft" href="https://www.microsoft.com" class="c-logo c-sgl-stk-uhfLogo" id="uhfLogo">
                                    <img aria-hidden="true" role="presentation" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" class="c-image" alt="">
                                    <span aria-hidden="true" role="presentation">Microsoft</span>
                                </a>
                                <div class="f-mobile-title">
                                    <button data-m="{&quot;cN&quot;:&quot;Mobile back button_nonnav&quot;,&quot;id&quot;:&quot;nn4c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-label="See more menu options" class="c-action-trigger c-glyph glyph-chevron-left" type="button"></button>
                                    <span class="js-mobile-title" data-global-title="Microsoft home">.NET</span>
                                    <button data-m="{&quot;cN&quot;:&quot;Mobile forward button_nonnav&quot;,&quot;id&quot;:&quot;nn5c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-label="See more menu options" class="c-action-trigger c-glyph glyph-chevron-right" type="button"></button>
                                </div>
                                <div class="c-show-pipe x-hidden-vp-mobile-st">
                                    <a data-m="{&quot;cN&quot;:&quot;CatNav_.NET_nav&quot;,&quot;id&quot;:&quot;n6c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-label=".NET" href="https://dotnet.microsoft.com/" class="c-logo c-cat-logo" id="uhfCatLogo">
                                        <span>.NET</span>
                                    </a>
                                </div>
                                <div class="cat-logo-button-cont x-hidden">
                                    <button data-m="{&quot;cN&quot;:&quot;.NET_nonnav&quot;,&quot;id&quot;:&quot;nn7c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" aria-label=".NET" aria-expanded="false" class="c-cat-logo-button x-hidden" id="uhfCatLogoButton" type="button">
                                        .NET
                                    </button>
                                </div>



                                <nav data-m="{&quot;cN&quot;:&quot;Category nav_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c8c4c1m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" class="c-uhfh-gnav" aria-label="Contextual menu" id="uhf-g-nav">
                                    <ul class="js-paddle-items">
                                        <li class="single-link js-nav-menu x-hidden-none-mobile-vp uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Home_nav&quot;,&quot;id&quot;:&quot;n1c8c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/" class="c-uhf-nav-link"> Home </a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_About_nav&quot;,&quot;id&quot;:&quot;n2c8c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet" class="c-uhf-nav-link" id="c-shellmenu_47">About</a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Learn_nav&quot;,&quot;id&quot;:&quot;n3c8c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/learn" class="c-uhf-nav-link" id="c-shellmenu_48">Learn</a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Architecture_nav&quot;,&quot;id&quot;:&quot;n4c8c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/learn/dotnet/architecture-guides" class="c-uhf-nav-link" id="c-shellmenu_49">Architecture</a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Docs_nav&quot;,&quot;id&quot;:&quot;n5c8c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://docs.microsoft.com/dotnet" class="c-uhf-nav-link" id="c-shellmenu_50">Docs</a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Downloads_nav&quot;,&quot;id&quot;:&quot;n6c8c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/download" class="c-uhf-nav-link" id="c-shellmenu_51">Downloads</a>
                                        </li>
                                        <li class="single-link js-nav-menu uhf-menu-item">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_Community_nav&quot;,&quot;id&quot;:&quot;n7c8c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/platform/community" class="c-uhf-nav-link x-hidden-focus" id="c-shellmenu_52">Community</a>
                                        </li>


                                        <li class="overflow-menu x-hidden uhf-menu-item" id="overflow-menu">
                                            <div class="c-uhf-menu js-nav-menu">
                                                <button style="white-space:nowrap" aria-expanded="false" aria-label="More" type="button" data-m="{&quot;pid&quot;:&quot;More&quot;,&quot;id&quot;:&quot;nn8c8c4c1m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}">More</button>
                                                <ul class="overflow-menu-list" aria-hidden="true" id="overflow-menu-list">
                                                </ul>
                                            </div>

                                        </li>
                                        <li id="c-uhf-nav-cta" class="single-link js-nav-menu">
                                            <a data-m="{&quot;cN&quot;:&quot;CatNav_cta_Get Started_nav&quot;,&quot;id&quot;:&quot;n9c8c4c1m1r1a1&quot;,&quot;sN&quot;:9,&quot;aN&quot;:&quot;c8c4c1m1r1a1&quot;}" href="https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/intro" class="c-uhf-nav-link">Get Started</a>
                                        </li>
                                    </ul>

                                </nav>


                                <div data-m="{&quot;cN&quot;:&quot;Header actions_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c9c4c1m1r1a1&quot;,&quot;sN&quot;:9,&quot;aN&quot;:&quot;c4c1m1r1a1&quot;}" class="c-uhfh-actions no-uhf-actions-exists">
                                    <div class="wf-menu">
                                        <nav data-m="{&quot;cN&quot;:&quot;GlobalNav_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c9c4c1m1r1a1&quot;}" aria-label="All microsoft menu" id="uhf-c-nav">
                                            <ul class="js-paddle-items">
                                                <li>
                                                    <div class="c-uhf-menu js-nav-menu">
                                                        <button style="white-space: nowrap" data-m="{&quot;cN&quot;:&quot;GlobalNav_More_nonnav&quot;,&quot;id&quot;:&quot;nn1c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1c9c4c1m1r1a1&quot;}" aria-expanded="false" aria-label="All Microsoft expand to see list of Microsoft products and services" class="c-button-logo all-ms-nav" type="button"> <span>All Microsoft</span></button>
                                                        <ul data-m="{&quot;cN&quot;:&quot;More_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c1c9c4c1m1r1a1&quot;}" aria-hidden="true" class="f-multi-column f-multi-column-6">
                                                            <li class="c-w0-contr">
                                                                <ul class="c-w0">
                                                                    <li data-m="{&quot;cN&quot;:&quot;Microsoft 365_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_Microsoft 365_nav&quot;,&quot;id&quot;:&quot;n1c1c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/microsoft-365" class="js-subm-uhf-nav-link" id="shellmenu_0">Microsoft 365</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Azure_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_Azure_nav&quot;,&quot;id&quot;:&quot;n1c2c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c2c1c9c4c1m1r1a1&quot;}" href="https://azure.microsoft.com" class="js-subm-uhf-nav-link" id="shellmenu_1">Azure</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Office 365_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_Office 365_nav&quot;,&quot;id&quot;:&quot;n1c3c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c2c1c9c4c1m1r1a1&quot;}" href="https://products.office.com/en-us/business/office" class="js-subm-uhf-nav-link" id="shellmenu_2">Office 365</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Dynamics 365_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_Dynamics 365_nav&quot;,&quot;id&quot;:&quot;n1c4c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c2c1c9c4c1m1r1a1&quot;}" href="https://dynamics.microsoft.com/en-us/" class="js-subm-uhf-nav-link" id="shellmenu_3">Dynamics 365</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;SQL_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_SQL_nav&quot;,&quot;id&quot;:&quot;n1c5c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/sql-server/" class="js-subm-uhf-nav-link" id="shellmenu_4">SQL</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Windows 10_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;W0Nav_Windows 10_nav&quot;,&quot;id&quot;:&quot;n1c6c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/microsoft-365/windows" class="js-subm-uhf-nav-link" id="shellmenu_5">Windows 10</a>

                                                                    </li>
                                                                </ul>
                                                            </li>

                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Products &amp; Services</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_ProductsandServices_WindowsServer_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_ProductsandServices_WindowsServer_nav&quot;,&quot;id&quot;:&quot;n1c2c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c7c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/cloud-platform/windows-server" class="js-subm-uhf-nav-link" id="shellmenu_8">Windows Server</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_ProductsandServices_EnterpriseMobilityandSecurity_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_ProductsandServices_EnterpriseMobilityandSecurity_nav&quot;,&quot;id&quot;:&quot;n1c3c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c7c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/cloud-platform/enterprise-mobility-security" class="js-subm-uhf-nav-link" id="shellmenu_9">Enterprise Mobility + Security</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_ProductsandServices_PowerBI_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_ProductsandServices_PowerBI_nav&quot;,&quot;id&quot;:&quot;n1c4c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c7c2c1c9c4c1m1r1a1&quot;}" href="https://powerbi.microsoft.com/en-us/" class="js-subm-uhf-nav-link" id="shellmenu_10">Power BI</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_ProductsandServices_Teams_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_ProductsandServices_Teams_nav&quot;,&quot;id&quot;:&quot;n1c5c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c7c2c1c9c4c1m1r1a1&quot;}" href="https://products.office.com/en-us/microsoft-teams/group-chat-software" class="js-subm-uhf-nav-link" id="shellmenu_11">Teams</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;DeveloperAndIT_VisualStudio_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_DeveloperAndIT_VisualStudio_nav&quot;,&quot;id&quot;:&quot;n1c6c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c7c2c1c9c4c1m1r1a1&quot;}" href="https://visualstudio.microsoft.com/" class="js-subm-uhf-nav-link" id="shellmenu_12">Visual Studio</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_MicrosoftAdvertising_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c7c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_MicrosoftAdvertising_nav&quot;,&quot;id&quot;:&quot;n1c7c7c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c7c2c1c9c4c1m1r1a1&quot;}" href="https://go.microsoft.com/fwlink/?linkid=2026462" class="js-subm-uhf-nav-link" id="shellmenu_13">Microsoft Advertising</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Emerging Technologies</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_EmergingTechnologies_AI_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_EmergingTechnologies_AI_nav&quot;,&quot;id&quot;:&quot;n1c2c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c8c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/ai/" class="js-subm-uhf-nav-link" id="shellmenu_15">AI</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_EmergingTechnologies_InternetofThings_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_EmergingTechnologies_InternetofThings_nav&quot;,&quot;id&quot;:&quot;n1c3c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c8c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/internet-of-things/" class="js-subm-uhf-nav-link" id="shellmenu_16">Internet of Things</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_EmergingTechnologies_AzureCognitiveServices_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_EmergingTechnologies_AzureCognitiveServices_nav&quot;,&quot;id&quot;:&quot;n1c4c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c8c2c1c9c4c1m1r1a1&quot;}" href="https://azure.microsoft.com/services/cognitive-services/" class="js-subm-uhf-nav-link" id="shellmenu_17">Azure Cognitive Services</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_EmergingTechnologies_Quantum_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_EmergingTechnologies_Quantum_nav&quot;,&quot;id&quot;:&quot;n1c5c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c8c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/quantum/" class="js-subm-uhf-nav-link" id="shellmenu_18">Quantum</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_PCsAndDevices_MicrosoftHololens_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCsAndDevices_MicrosoftHololens_nav&quot;,&quot;id&quot;:&quot;n1c6c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c8c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/hololens" class="js-subm-uhf-nav-link" id="shellmenu_19">Microsoft HoloLens</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_PCsAndDevices_VMAndMixedReality_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c8c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCsAndDevices_VMAndMixedReality_nav&quot;,&quot;id&quot;:&quot;n1c7c8c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c8c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/mixed-reality" class="js-subm-uhf-nav-link" id="shellmenu_20">Mixed Reality</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:9,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Developer &amp; IT</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_Docs.microsoft.com_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_Docs.microsoft.com_nav&quot;,&quot;id&quot;:&quot;n1c2c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c9c2c1c9c4c1m1r1a1&quot;}" href="https://docs.microsoft.com/en-us/" class="js-subm-uhf-nav-link" id="shellmenu_22">Docs</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_TechNet_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_TechNet_nav&quot;,&quot;id&quot;:&quot;n1c3c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c9c2c1c9c4c1m1r1a1&quot;}" href="https://technet.microsoft.com/en-us/ms376608.aspx" class="js-subm-uhf-nav-link" id="shellmenu_23">TechNet</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Footer_Developer_MicrosoftDeveloperNetwork_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_Footer_Developer_MicrosoftDeveloperNetwork_nav&quot;,&quot;id&quot;:&quot;n1c4c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c9c2c1c9c4c1m1r1a1&quot;}" href="https://msdn.microsoft.com/en-us" class="js-subm-uhf-nav-link" id="shellmenu_24">Developer Network</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_WindowsDevCenter_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_WindowsDevCenter_nav&quot;,&quot;id&quot;:&quot;n1c5c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c9c2c1c9c4c1m1r1a1&quot;}" href="https://developer.microsoft.com/en-us/windows" class="js-subm-uhf-nav-link" id="shellmenu_25">Windows Dev Center</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_Windows_IT_Pro_Center_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_Windows_IT_Pro_Center_nav&quot;,&quot;id&quot;:&quot;n1c6c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c9c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/itpro/windows" class="js-subm-uhf-nav-link" id="shellmenu_26">Windows IT Pro Center</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_FastTrack_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c9c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_FastTrack_nav&quot;,&quot;id&quot;:&quot;n1c7c9c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c9c2c1c9c4c1m1r1a1&quot;}" href="https://fasttrack.microsoft.com/office" class="js-subm-uhf-nav-link" id="shellmenu_27">FastTrack</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:10,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Partner</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Partner_PartnerNetwork_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Partner_PartnerNetwork_nav&quot;,&quot;id&quot;:&quot;n1c2c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c10c2c1c9c4c1m1r1a1&quot;}" href="https://partner.microsoft.com/" class="js-subm-uhf-nav-link" id="shellmenu_29">Partner Network</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Partner_SolutionProviders_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Partner_SolutionProviders_nav&quot;,&quot;id&quot;:&quot;n1c3c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c10c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/solution-providers" class="js-subm-uhf-nav-link" id="shellmenu_30">Solution Providers</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Partner_PartnerCenter_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Partner_PartnerCenter_nav&quot;,&quot;id&quot;:&quot;n1c4c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c10c2c1c9c4c1m1r1a1&quot;}" href="https://partnercenter.microsoft.com/partner/home" class="js-subm-uhf-nav-link" id="shellmenu_31">Partner Center</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Partner_CloudHosting_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c10c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Partner_CloudHosting_nav&quot;,&quot;id&quot;:&quot;n1c5c10c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c10c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/cloudandhosting" class="js-subm-uhf-nav-link" id="shellmenu_32">Cloud Hosting</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:11,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Industries</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;Products_ForStudentsAndEducators_Education_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_Products_ForStudentsAndEducators_Education_nav&quot;,&quot;id&quot;:&quot;n1c2c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/education?icid=CNavMSCOML0_Studentsandeducation" class="js-subm-uhf-nav-link" id="shellmenu_34">Education</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Footer_Enterprise_FinanciaServices_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_Footer_Enterprise_FinanciaServices_nav&quot;,&quot;id&quot;:&quot;n1c3c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/enterprise/finance/banking-capital-markets" class="js-subm-uhf-nav-link" id="shellmenu_35">Financial services</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Industries_Government_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Industries_Government_nav&quot;,&quot;id&quot;:&quot;n1c4c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/enterprise/government" class="js-subm-uhf-nav-link" id="shellmenu_36">Government</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Industries_Health_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Industries_Health_nav&quot;,&quot;id&quot;:&quot;n1c5c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/enterprise/health" class="js-subm-uhf-nav-link" id="shellmenu_37">Health</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;Footer_Enterprise_Health_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_Footer_Enterprise_Health_nav&quot;,&quot;id&quot;:&quot;n1c6c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/enterprise/manufacturing" class="js-subm-uhf-nav-link" id="shellmenu_38">Manufacturing &amp; resources</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Industries_Retail_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c11c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Industries_Retail_nav&quot;,&quot;id&quot;:&quot;n1c7c11c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c11c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/en-us/enterprise/retail-consumer-goods" class="js-subm-uhf-nav-link" id="shellmenu_39">Retail</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:12,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}" class="f-sub-menu js-nav-menu nested-menu">

                                                                <button data-m="{&quot;id&quot;:&quot;nn1c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" aria-expanded="false" type="button">Other</button>
                                                                <ul aria-hidden="true">
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Other_Security_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_Security_nav&quot;,&quot;id&quot;:&quot;n1c2c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c12c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/security/" class="js-subm-uhf-nav-link" id="shellmenu_41">Security</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Other_Licensing_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_Licensing_nav&quot;,&quot;id&quot;:&quot;n1c3c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c12c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/licensing/" class="js-subm-uhf-nav-link" id="shellmenu_42">Licensing</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Other_AppSource_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_AppSource_nav&quot;,&quot;id&quot;:&quot;n1c4c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c12c2c1c9c4c1m1r1a1&quot;}" href="https://appsource.microsoft.com/" class="js-subm-uhf-nav-link" id="shellmenu_43">AppSource</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Other_AzureMarketplace_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_AzureMarketplace_nav&quot;,&quot;id&quot;:&quot;n1c5c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c12c2c1c9c4c1m1r1a1&quot;}" href="https://azuremarketplace.microsoft.com/marketplace/" class="js-subm-uhf-nav-link" id="shellmenu_44">Azure Marketplace</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_Other_Events_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_Events_nav&quot;,&quot;id&quot;:&quot;n1c6c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c12c2c1c9c4c1m1r1a1&quot;}" href="https://events.microsoft.com/" class="js-subm-uhf-nav-link" id="shellmenu_45">Events</a>

                                                                    </li>
                                                                    <li data-m="{&quot;cN&quot;:&quot;More_EmergingTechnologies_Research_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c12c2c1c9c4c1m1r1a1&quot;}" class="js-nav-menu single-link">
                                                                        <a data-m="{&quot;cN&quot;:&quot;GlobalNav_More_EmergingTechnologies_Research_nav&quot;,&quot;id&quot;:&quot;n1c7c12c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c12c2c1c9c4c1m1r1a1&quot;}" href="https://www.microsoft.com/research/" class="js-subm-uhf-nav-link" id="shellmenu_46">Research</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-multi-column-info">
                                                                <a class="c-glyph" aria-label="" href="https://www.microsoft.com/en-us/sitemap.aspx" data-m="{&quot;id&quot;:&quot;n13c2c1c9c4c1m1r1a1&quot;,&quot;sN&quot;:13,&quot;aN&quot;:&quot;c2c1c9c4c1m1r1a1&quot;}">View Sitemap</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </header>




                </div>
            </div>

        </div>
    </div>
</div>

<div class="breadcrumb-wrapper">
    <nav><ol class="breadcrumb x-hidden-focus"><li class="breadcrumb-item"><a href="/">.NET</a></li><li class="breadcrumb-item">Community</li></ol></nav>
</div>