<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/standup/css/bootstrap-custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/standup/css/site.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Header" />
    @RenderBody()
    <div id="footerShell">
        <div>
            <div  class="uhf" id="footerArea">
                <div  data-region-key="footerregion" id="footerRegion">
                    <div id="footerUniversalFooter">
                        <footer  data-footer-footprint="/MSNet/DotnetFooter, fromService: True" data-uhf-mscc-rq="false" class="c-uhff context-uhf" id="uhf-footer">
                            <div class="c-uhff-base x-hidden-focus">
                                <nav aria-label="Microsoft corporate links">
                                    <ul  class="c-list f-bare">
                                        <li>
                                            <a href="https://dotnet.microsoft.com/learn/web/what-is-aspnet-core" class="c-uhff-link x-hidden-focus">Powered by .NET Core 3.0.0-rc1-19456-20</a>
                                        </li>
                                        <li>
                                            <a href="https://support.microsoft.com/contactus/" class="c-uhff-link">Contact Microsoft</a>
                                        </li>
                                        <li>
                                            <a href="https://dotnet.microsoft.com/platform/support" class="c-uhff-link">Support</a>
                                        </li>
                                        <li>
                                            <a href="https://go.microsoft.com/fwlink/?LinkId=521839" class="c-uhff-link">Privacy &amp; Cookies</a>
                                        </li>
                                        <li>
                                            <a href="https://go.microsoft.com/fwlink/?LinkID=206977" class="c-uhff-link">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a href="https://www.microsoft.com/trademarks" class="c-uhff-link">Trademarks</a>
                                        </li>
                                        <li class="x-hidden-focus">© Microsoft 2019</li>
                                    </ul>
                                </nav>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/assets/standup/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/assets/standup/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/assets/standup/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/assets/standup/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=">
        </script>
    </environment>
    <script src="~/assets/standup/lib/fontawesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/assets/standup/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
