@page
@model IndexModel
@{
    ViewData["Title"] = ".NET Community Standups";
}

<div class="text-center">

</div>


<div class="row">
    @foreach (var show in Model.Shows)
    {
        <div class="col-md-4">
            <div class="card m-2 shadow" style="width:18rem;">
                <img src="@show.ThumbnailUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@show.DisplayTitle</h5>
                    @show.Category
                    <a href="@show.Url" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
 </div>
