@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome, @(Model.ShowNames.Count - 1)</h1>
</div>


<div class="row">
    @foreach (var show in Model.ShowNames)
    {
        <div class="col-md-4">
            <div class="card m-2 shadow" style="width:18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Portrait_Of_A_Baboon.jpg/314px-Portrait_Of_A_Baboon.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@show</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
 </div>
